.App {
  font-family: sans-serif;
  text-align: center;
}

.Logo {
  height: 300px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}